<h1>その他の報告</h1>

<div class="others-container">
  <% @others.each do |o| %>
  <div class="other">


    <%= image_tag o.picture2_url, size: "250x200" if o.picture2? %>
    <br>
    <%= o.title %>
    <br>
    <%= o.content %>
    <br>
      
    <% if user_signed_in? && current_user.id == o.user_id %>
      <%= link_to "編集する", edit_other_path(o.id) %>
      <%= button_to "削除する", other_path(o.id), method: :delete %>
    <% end %>
  </div>
  <% end %>
</div>