<h1>その他の報告の更新</h1>

<%= form_for @other, local: true do |o| %>
  <div class="field">
    <%= o.label :タイトル %>
    <%= o.text_field :title %><br>

    <%= o.label :画像挿入 %>
    <%= o.file_field :picture2, :size => 140 %><br>

    <%= o.label :本文 %>
    <%= o.text_area :content, :size => 140, class: "form-control" %><br>
  </div>

  
  <%= o.submit "投稿する" , class: "btn btn-secondary"  %>
<% end %>
<%= link_to "Other一覧に戻る", others_path %>
