<h1>各種更新</h1>

<%= link_to "イベントの更新", new_event_path %><br>

<%= link_to "部員紹介の更新", new_member_path %><br>

<%= link_to "大会成績の更新", results_new_path %><br>

<%= link_to "その他の報告の更新", new_other_path %><br>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete , class: "btn btn-secondary"%>