<h1>大会成績</h1>

<%= form_for @result do |r| %>
  <div class="field">
    <%= r.label :大会 %>
    <%= r.text_field :competition %><br>

    <%= r.label :画像 %>
    <%= r.file_field :picture1, :size => 140 %><br>

    <%= r.label :日程 %>
    <%= r.datetime_field :event_date %><br>

    <%= r.label :場所 %>
    <%= r.text_field :adress %><br>

    <%= r.label :４７０ %>
    <%= r.text_area :posia %><br>

    <%= r.label :４７０ %>
    <%= r.text_area :posib %><br>

    <%= r.label :４７０ %>
    <%= r.text_area :posic %><br>

    <%= r.label :４７０ %>
    <%= r.text_area :posid %><br>

    <%= r.label :スナイプ %>
    <%= r.text_area :snipea %><br>

    <%= r.label :スナイプ %>
    <%= r.text_area :snipeb %><br>

    <%= r.label :スナイプ %>
    <%= r.text_area :snipec %><br>

    <%= r.label :スナイプ %>
    <%= r.text_area :sniped %><br>

    <%= r.label :その他 %>
    <%= r.text_area :body %><br>

  </div>
  
  <%= r.submit "投稿する" , class: "btn btn-secondary" %>

<% end %>
<%= link_to "Result一覧に戻る", results_path %>