<h1>山口大学体育会ヨット部</h1><br>

<div class="container event">
  <div class="row gy-5">
    <div class="picture34 col-5">
    <%= link_to hello_yacht_path do %>
      <p class="picture34"></p>
    <% end %>
    </div>
    <div class="picture35 col-md-5 col-md-offset-1">
    <%= link_to members_path do %>
      <p class="picture35"></p>
    <% end %>
    </div>
    <div class="picture36 col-5">
    <%= link_to reports_index_path do %>
      <p class="picture36"></p>
    <% end %>
    </div>
    <div class="picture26 col-md-5 col-md-offset-1">
    <%= link_to welcomes_index_path do %>
      <p class="picture26"></p>
    <% end %>
    </div>
  </div>
</div>

<h1>スケジュール</h1>
<%= month_calendar events: @events do |date, events| %>
    <%= date.day %>

    <% events.each do |event| %>
        <div>
          <%= event.title %>
        </div>
    <% end %>
<% end %>
