<h1>部員紹介の更新</h1>

<%= form_for @member do |m| %>
  <div class="field">
    <%= m.label :画像 %>
    <%= m.file_field :image %><br>

    <%= m.label :名前 %>
    <%= m.text_field :name, :size => 140 %><br>

    <%= m.label :学部 %>
    <%= m.text_field :fuclty, :size => 140 %><br>

    <%= m.label :艇種 %>
    <%= m.text_field :position, :size => 140 %><br>

    <%= m.label :趣味 %>
    <%= m.text_field :hobby, :size => 140 %><br>

    <%= m.label :役割 %>
    <%= m.text_field :role, :size => 140 %><br>

    <%= m.label :出身 %>
    <%= m.text_field :prefecture, :size => 140 %><br>

    <%= m.label :プロフィール %>
    <%= m.text_area :profile, :size => 140 %><br>
  </div>

  <%= m.submit "更新する"  , class: "btn btn-secondary" %>
<% end %>
<%= link_to "Member一覧に戻る", members_path %>

