<h1>山口大学体育会ヨット部</h1>
<h3>部員紹介</h3>
<%= form_for @member do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %><br>

    <%= f.label :name %>
    <%= f.text_field :name, :size => 140 %><br>

    <%= f.label :fuclty %>
    <%= f.text_field :fuclty, :size => 140 %><br>

    <%= f.label :position %>
    <%= f.text_field :position, :size => 140 %><br>

    <%= f.label :hobby %>
    <%= f.text_field :hobby, :size => 140 %><br>

    <%= f.label :role %>
    <%= f.text_field :role, :size => 140 %><br>

    <%= f.label :prefecture %>
    <%= f.text_field :prefecture, :size => 140 %><br>

    <%= f.label :profile %>
    <%= f.text_field :profile, :size => 140 %><br>
  </div>

  <%= f.submit "Tweetする" %>
<% end %>
<%= link_to "Member一覧に戻る", members_path %>